.form {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(87, 160, 180);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin-bottom: 20px;
  }
  
  .label {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
  
  
  .inputStyle {
    box-shadow: inset 0px 0px 1px 1px grey;
    border: 5px solid transparent;
    margin-left: -3px;
    height: 25px;
    font-size: 18px;
    margin-bottom: 10px;
   border-radius: 5px;
  }